<ion-header [translucent]="true">
  <ion-toolbar>
     <io-buttons slot="start">
        <ion-button color="primary"> 
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </io-buttons>

      <ion-buttons slot="end">
        <ion-button color="secudary">ok</ion-button>
      </ion-buttons>

    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
    <div id="container">
      <ion-button routerLink="/novo">Novo</ion-button>
    </div>
    <div>
      <ion-button routerLink="/form-contato">Contato</ion-button>
    </div>
</ion-content>

